

<!doctype html>
<html>

    <head>
        <title>Wanderers List</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    body{padding-top: 80px;}
    </style>
     </head>

    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span> Wanderers List</h1>
                <a href = "/logout" class="btn btn-default btn-sm">Logout</a>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="well">
                        <h3> <span class="fa fa-user"></span>Local</h3>

                    <p>
                        <strong>id</strong>: {{user.id}}<br>
                        <strong>email</strong>: {{user.email}}<br>
                    </p>
                    </div>
                </div>

                {{!--<!--Facebook Info-->--}}
                <div class="col-sm-6">
                    <div class="well">
                        <h3> <span class="fa fa-user"></span>Local</h3>

                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span><Facebook</a>


                    <p>
                        <strong>id</strong>: <%user.facebook.id%><br>
                        <strong>email</strong>: <%user.facebook.token%><br>
                        <strong>password</strong>: <%user.facebook.email%><br>
                        <strong>name</strong>: <% user.facebook.name%>
                    </p>
                    </div>
                </div>

                
                {{!--Google Info--}}
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-danger"> <span class="fa fa-user"></span>Local</h3>

                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span><Facebook</a>


                    <p>
                        <strong>id</strong>: <%user.google.id%><br>
                        <strong>email</strong>: <%user.google.token%><br>
                        <strong>password</strong>: <%user.google.email%><br>
                        <strong>name</strong>: <% user.google.name%>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
>>>>>>> upstream/master
