

<!doctype html>
<html>
    <head>
        <title>Wanderers List</title>

 

       
<style>
    body{padding-top: 80px;}
    </style>
     </head>

    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span> Wanderers List</h1>
                <a href = "/logout" class="btn btn-default btn-sm">Logout</a>
            </div>

            <div class="row">

                <div class="col-sm">
                    <div class="well">
                        <h3> <span class="fa fa-user"></span>Hi! {{user.displayName}}</h3>

                    <p>
                        <strong>id</strong>: {{user.id}}<br>
                        <strong>email</strong>: {{user.status}}<br>
                    </p>
                    </div>
                </div>

                {{!--<Facebook Info>
                <div class="col-sm-6">
                    <div class="well">
                        <h3> <span class="fa fa-user"></span>Local</h3>

                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span><Facebook</a>


                    <p>
                        <strong>id</strong>: <%user.facebook.id%><br>
                        <strong>email</strong>: <%user.facebook.token%><br>
                        <strong>password</strong>: <%user.facebook.email%><br>
                        <strong>name</strong>: <% user.facebook.name%>
                    </p>
                    </div>
                </div>

                
                !--Google Info--
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-danger"> <span class="fa fa-user"></span>Local</h3>

                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span><Facebook</a>


                    <p>
                        <strong>id</strong>: <%user.google.id%><br>
                        <strong>email</strong>: <%user.google.token%><br>
                        <strong>password</strong>: <%user.google.email%><br>
                
                        <strong>name</strong>: <% user.google.name%>
                    </p>
                    </div>
                </div>--}}
            </div>
        </div>
    </body>
</html>