body {
    background-color: #0CA5B0;
}

.btn-large,
.btn-flat, button {
    background-color: #A5B3AA;
}

.head-foot {
    background-color: #4E3F30;
}

table, #addTodo {
    background-color: #F8F4E4;
}

p,
h1,
h2,
h3,
h4,
h5 {
    color: #FEFEEB
}

h1 {
    font-family: 'Acme', sans-serif;
}

h4 {
    font-family: 'Kalam', cursive;
}

#footer-text {
    font-family: 'Kalam', cursive;
    font-size: 18px;
}
